<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>小组资料</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <script src="/js/bootstrap.min.js" ></script>
</head>
<body>

<div class="container">
    <h3>小组资料:</h3>
    <ul class="list-group">
        <li class="list-group-item">高磊</li>
        <li class="list-group-item">马敏</li>
        <li class="list-group-item">宋薇</li>
        <li class="list-group-item">王玉</li>
        <li class="list-group-item">许宗先</li>
    </ul>
    <h3>小组分工:</h3>
    <div class="jumbotron">
        <h3>搭建SpringBoot 开发环境，整合前端页面，接入数据库，编写后台逻辑代码</h3>
        <p>高磊，许宗先</p>
    </div>
    <div class="jumbotron">
        <h3>利用前端框架，编写项目中的各个界面代码，编写开发文档</h3>
        <p>宋薇，马敏</p>
    </div>
    <div class="jumbotron">
        <h3>后台数据库的管理，表更新操作，编写部分代码</h3>
        <p>王玉</p>
    </div>
</div>
</body>
</html>