<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Success Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js" ></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">控制台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/custom_menu">平台管理</a></li>
                <li><a href="/admin/success">主页</a></li>
                <li><a href="https://www.jianshu.com/u/1ec8d0bd2fd5">交流中心</a></li>
                <li><a href="/admin/help">帮助</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">基础资料</a></li>
                <li><a href="/shop/index">商品信息</a></li>
                <li><a href="/store/index">商铺信息</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/admin/shop_menu">管理商品</a></li>
                <li><a href="/admin/store_menu">管理店铺</a></li>
                </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/admin/about">团队分工</a></li>
                <li><a href="https://www.baidu.com">友情链接</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">商品类别</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>类别</th>
                        <th>商品1</th>
                        <th>商品2</th>
                        <th>商品3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>电子书刊</td>
                        <td>电子书</td>
                        <td>网络原创</td>
                        <td>数字杂志</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>音像</td>
                        <td>音乐</td>
                        <td>影视</td>
                        <td>教育影像</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>文艺</td>
                        <td>小说</td>
                        <td>文学</td>
                        <td>传记</td>
                    </tr>
                    <tr>
                        <td>1005</td>
                        <td>经管成长</td>
                        <td>管理</td>
                        <td>励志与成功</td>
                        <td>金融</td>
                    </tr>
                    <tr>
                        <td>1,004</td>
                        <td>大家电</td>
                        <td>平板电视</td>
                        <td>空调</td>
                        <td>洗衣机</td>
                    </tr>
                    <tr>
                        <td>1,005</td>
                        <td>厨房小电a</td>
                        <td>料理机</td>
                        <td>电饭煲</td>
                        <td>微波炉</td>
                    </tr>
                    <tr>
                        <td>1,006</td>
                        <td>个人健康</td>
                        <td>剃须刀</td>
                        <td>电吹风</td>
                        <td>体温计</td>
                    </tr>
                    <tr>
                        <td>1,007</td>
                        <td>数码</td>
                        <td>数码相机</td>
                        <td>单反</td>
                        <td>摄影机</td>
                    </tr>
                    <tr>
                        <td>1,008</td>
                        <td>数码配件</td>
                        <td>存储卡</td>
                        <td>读卡器</td>
                        <td>移动电源</td>
                    </tr>
                    <tr>
                        <td>1,009</td>
                        <td>灯具</td>
                        <td>台灯</td>
                        <td>节能灯</td>
                        <td>落地灯</td>
                    </tr>
                    <tr>
                        <td>1,010</td>
                        <td>生活日用</td>
                        <td>收纳用品</td>
                        <td>雨伞雨具</td>
                        <td>浴室用品</td>
                    </tr>
                    <tr>
                        <td>1,011</td>
                        <td>电脑整机</td>
                        <td>笔记本</td>
                        <td>超极本</td>
                        <td>游戏本</td>
                    </tr>
                    <tr>
                        <td>1,012</td>
                        <td>电脑配件</td>
                        <td>cpu</td>
                        <td>主板</td>
                        <td>显卡</td>
                    </tr>
                    <tr>
                        <td>1,013</td>
                        <td>清洁用品</td>
                        <td>洁面</td>
                        <td>润肤</td>
                        <td>套餐</td>
                    </tr>
                    <tr>
                        <td>1,014</td>
                        <td>洗发护理</td>
                        <td>洗发</td>
                        <td>护理</td>
                        <td>造型</td>
                    </tr>
                    <tr>
                        <td>1,015</td>
                        <td>香水彩妆</td>
                        <td>香水</td>
                        <td>底妆</td>
                        <td>腮红</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




</body>
</html>