<html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Success Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/cover.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js" ></script>


    <!-- Custom styles for this template -->
    <link href="cover.css" tppabs="http://v3.bootcss.com/examples/cover/cover.css" rel="stylesheet">


</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">商品管理系统</h3>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="#">主页</a></li>
                        <li><a href="/admin/color">商品特色</a></li>
                        <li><a href="/admin/custom_menu">用户管理</a></li>
                    </ul>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">简易商品管理系统</h1>
                <p class="lead"> 基于SpringBoot2.0 搭建的商品管理系统，致力于简化工作，简单，便捷</p>
                <p class="lead">
                    <a href="/admin/os" class="btn btn-lg btn-default">开始使用</a>
                </p>
            </div>

        </div>

    </div>

</div>



</body>
</html>
